<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>386308660396-r7o3riqvj0ih3ltsot0951ongr73vgco.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.386308660396-r7o3riqvj0ih3ltsot0951ongr73vgco</string>
    <key>API_KEY</key>
    <string>AIzaSyCBheTZ-SUlTLIrd7KnDGUoZMsorS1WYdQ</string>
    <key>GCM_SENDER_ID</key>
    <string>386308660396</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>io.ultras</string>
    <key>PROJECT_ID</key>
    <string>ultrastestpushnotification</string>
    <key>STORAGE_BUCKET</key>
    <string>ultrastestpushnotification.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:386308660396:ios:7fca45657164e7b2bf5309</string>
</dict>
</plist>
