unsafe-perm = true
engine-strict = true
force = true
prefer-online = true
loglevel = error
ignore-scripts = true

; user-agent = "node/{process.version} {process.platform} {process.arch}"
user-agent = "node/{process.version} linux x64"
