{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 1,
    "@typescript-eslint/no-var-requires": 0,
    // Means warning
    "prettier/prettier": 2,
    "max-len": [1, { "code": 200 }]
    // Means error
  }
}
