disable-self-update-check true
--install.check-files true
--install.silent true
--install.verbose false
--install.no-lockfile true
--color false
--progress true
--loglevel error
--silent true
--verbose false
--update-checksums true
